@page "/encoder-decoder"
@using E161.Data
@using E161.Data.Standarts
@inject IJSRuntime js
@inject NavigationManager navManager

<PageTitle>Encoder-Decoder</PageTitle>

<div class="d-flex justify-content-center align-items-center my-4 py-5">
    <div class="col-md-8 col-sm-11">
        <div class="row m-0 p-0">
            <div class="container col-md-2 col-sm-11 d-flex flex-md-column justify-content-between">
                <select @bind="choosedStandartString" class="border-custom text-green my-3 p-1" title="Click to change encryption system">
                    @for (int i = 0; i < standartList.Length; i++)
                    {
                        <option value="@standartList[i].Name" selected="@IsSelected(standartList[i])">
                            <p class="p-0 m-0">@standartList[i].Name</p>
                        </option>
                    }
                </select>
                <button type="button" class="btn-square border-custom text-green my-3" title="How it works?" onclick="window.open('/about', '_blank')"> <h1 class="display-1 m-0 p-0">?</h1></button>
                <button type="button" class="btn-square border-custom text-green my-3" title="Clear all fields" onclick="@ClearFields"><h1 class="display-2 m-0 p-0">C</h1></button>
            </div>
            <div class="container col-md-9 col-sm-11 border-custom">
                <form asp-page="EncoderDecoder" method="post" class="w-100">
                    <div class="form-group mx-3 my-3">
                        <p class="mb-2"> Chars field: </p>
                        <textarea @bind="chars" @oninput="CharsInput" class="form-control form-control-lg textarea-custom @(isCharsActive? "bg-green-10" : "")" id="chars" placeholder="@charsPlaceholder" rows="4" readonly="@isSignalsActive"></textarea>
                    </div>
                    <div class="mb-0 pt-2 mt-4 d-flex align-items-center justify-content-center ">
                        <h1 class="bi bi-arrow-down my-0 pt-2 me-2"></h1>
                        <button type="button" class="border-custom text-green btn-lg col-sm-8 col-md-3" @onclick="Convert">
                            @if (isCharsActive)
                            {
                                <span>Encode</span>
                            }
                            else if (isSignalsActive)
                            {
                                <span>Decode</span>
                            }
                            else
                            {
                                <span>Convert</span>
                            }
                        </button>
                        <h1 class="bi bi-arrow-up my-0 pt-2 ms-2"></h1>
                    </div>

                    <div class="form-group mx-3 mb-3">
                        <p class="mb-2"> Signal field: </p>
                        <textarea @bind="signals" @oninput="SignalsInput" pattern="@signalArray" 
                            class="form-control form-control-lg textarea-custom @(isSignalsActive? "bg-green-10" : "")" id="signals" placeholder="@signalsPlaceholder" rows="4" readonly="@isCharsActive"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {

    private void Convert()
    {
        Algorithm alg = new Algorithm();
        if (isCharsActive)
        {
            signals = alg.Encode(chars, choosedStandart);
        }
        else if (isSignalsActive)
        {
            chars = alg.Decode(signals, choosedStandart);
        }
        else
        {
            //none
        }
    }

    private Standart[] standartList = {
        new E161CodeEnglish(),
        new E161CodeUkrainian(),
    };

    private string choosedStandartString;

    private Standart choosedStandart
    {
        get => standartList.FirstOrDefault(s => s.Name == choosedStandartString);
        set => choosedStandartString = value?.Name;
    }

    private string signals = "";
    private string chars = "";

    private bool isSignalsActive = false;
    private bool isCharsActive = false;

    private string charsPlaceholder = "Enter the Text...";
    private string signalsPlaceholder = "Enter the Code...";

    char[] signalArray = "1234567890-*#()".ToCharArray();

    private void CharsInput(ChangeEventArgs e)
    {
        chars = e.Value.ToString();
        if (!string.IsNullOrEmpty(chars))
        {
            isCharsActive = true;
            signalsPlaceholder = "When you're ready, click the button...";
        }
        else
        {
            isCharsActive = false;
            signalsPlaceholder = "Enter the Code...";
            signals = "";
        }
    }

    private void ClearFields()
    {
        signals = "";
        chars = "";
        isCharsActive = false;
        isSignalsActive = false;
        signalsPlaceholder = "Enter the Code...";
        charsPlaceholder = "Enter the Text...";
    }

    private async Task SignalsInput(ChangeEventArgs e)
    {
        signals = e.Value.ToString();
        if (!string.IsNullOrEmpty(signals))
        {
            signals = signals;
            await Task.Delay(5);
            signals = new string(signals.Where(c => signalArray.Contains(c)).ToArray());
            if (string.IsNullOrEmpty(signals))
            {
                isSignalsActive = false;
            }
            else
            {
                isSignalsActive = true;
                charsPlaceholder = "When you're ready, click the button...";
            }
        }
        else
        {
            isSignalsActive = false;
            charsPlaceholder = "Enter the Text...";
            chars = "";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        choosedStandartString = standartList[0].Name;
        choosedStandart = standartList[0];
    }

    private bool IsSelected(Standart standart)
    {
        return standart.Name == choosedStandartString;
    }

}